%header.site_header
  %div.wrapper
    %div.logo
      %a
        =image_tag("logo.png")
    %nav
      %ul.main_menu
        %li
          %a /Home
        %li
          %a /About
        %li
          %a /Contact
    %a.read_more Read More
%main.content
  %div.wrapper
    %div.top_part.cf
      %div.one_half
        %div.d_corner
      %div.one_half
        %div.d_awesome
          %div.d_awesome_inner
    %div.main_content
      %div.row.cf
        %div.one_half
          %h1 Designers Corner
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pulvinar odio sed ipsum viverra, quis ornare nunc iaculis. Vestibulum faucibus suscipit leo, quis dignissim orci accumsan ut. Ut ultrices, dui eget volutpat cursus, arcu erat ultrices est
        %div.one_half
          %h1 Awesome Design
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pulvinar odio sed ipsum viverra, quis ornare nunc iaculis. Vestibulum faucibus suscipit leo, quis dignissim orci accumsan ut. Ut ultrices, dui eget volutpat cursus, arcu erat ultrices
    %div.soc_block
      %div.soc_icons_container
        %a.ico_soc.ico_soc_tw
        %a.ico_soc.ico_soc_rss
      %p I Twitter, I Dribble, Therefore I am.
    %i.black_box
%footer.site_footer
